.App {
}

.App-logo {
  animation: fadeOut 1s, App-logo-spin infinite 5s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-header__gif {
  height: 128px;
  width: 128px;
}

.App-intro {
  font-size: large;
}

.App__add-btn {
  position: absolute;
  right: 60px;
  top: 200px;
}

.App-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  flex-direction: row;
  justify-content: space-around;
}
.App__user-table {
  min-width: 600px;
  max-width: 900px;
}
.App__user-card {
  width: 300px;
}

.App__user-card {
  padding-left: 32px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes fadeIn { 
  0% { opacity: 0; visibility: hidden; } 
  100% { opacity: 1; visibility: visible; }
}
@keyframes fadeOut { 
  0% { opacity: 1; visibility: hidden; } 
  100% { opacity: 0; visibility: visible; display: none; }
} 

